<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuekemon</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body id="app">
    <header>
        <audio controls autoplay>
            <source src="chala.mp3" type="audio/mpeg">
            <source src="chala.mp3" type="audio/ogg">
        </audio>
        <img src="./images/Adrarball.png" alt="">
        <h4>Tour {{ round }}</h4>
    </header>
    <main>
        <div v-show="end" id="infos" @wheel.prevent @touchmove.prevent @scroll.prevent>
            <img v-if="outcome == 'VICTOIRE'" id="victory" src="./images/victory.gif" alt="">
            <img v-if="outcome == 'DEFAITE'" id="victory" src="./images/loss.png" alt="">
            <input type="button" value="Recommencer" @click="reset">
        </div>
        <section>
            <div class="player">
                <img class="avatar" src="./images/jeffpizza.png" alt="Illustration de l'ennemi">
                <ul>
                    <li>HP : {{ jeff.health }}</li>
                    <li>Att : {{ jeff.att }}</li>
                    <li>Def : {{ jeff.def }}</li>
                </ul>
                <img src="./images/jeff.png" alt="">
                <img id="aura" src="./images/aura.gif" alt="">
            </div>
            <div id="healthbar">
                <div id="health" :style="{ width: jeff.health + '%', backgroundColor: jeff.health < 25 ? 'red' : 'green' }">
                </div>
            </div>
        </section>
        <section>
            <div class="player">
                <img class="avatar" src="./images/sayann.png" alt="Illustration du joueur">
                <ul>
                    <li>HP : {{ sayann.health }}</li>
                    <li>Att : {{ sayann.att }}</li>
                    <li>Def : {{ sayann.def }}</li>
                </ul>
                <img src="./images/sayan.png" alt="">
                <img id="aura" src="./images/aura.gif" alt="">
            </div>
            <div id="healthbar">
                <div id="health" :style="{ width: sayann.health + '%', backgroundColor: sayann.health < 25 ? 'red' : 'green' }">
                </div>
            </div>
        </section>
        <section>
            <input type="button" value="Kamehameha" @click="kamehameha">
            <input type="button" value="Genkidama" @click="genkidama" :disabled="special">
            <input type="button" value="Senzu" @click="senzu">
            <input type="button" value="Sacrifice pour San Yohann" @click="giveUp">
        </section>
        <section>
            <h2>Battle Log</h2>
            <ul>
                <li v-for="log in battleLogs">
                    {{log }}
                </li>
            </ul>
        </section>
    </main>
    <div class="momo"></div>
    <div v-if="genkidanim" :class="{genkidama: genkidanim}"></div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>