* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* Le petit chien qui court */
@keyframes momo {
    from {
        left:-20%;
    }
    to{
        left:100%;
    }
}
.momo {
    position: fixed;
    background-image: url("./images/momo.gif");
    filter: saturate(2);
    bottom: -3.5%;
    width: 200px;
    height: 200px;
    object-fit: contain;
    animation: momo 8s infinite;
    }


/* L'animation des persos */
@keyframes bounce {
    from {transform: translateY(0);}
    to   {transform: translateY(-5px);}
}

/* PROJET GENKIDAMA
@keyframes genkidama {
    0% { position:absolute; top:200px; left: 40px; transform: scale(1); opacity: 0.5;}
    25% { opacity: 1;}
    50% { transform: scale(2); opacity: 1;}
    100% { position:absolute; top:-40px; left: 40px; transform: scale(3); opacity: 0;}
}
.genkidama {
background-image: url("flaming-sphere.gif");
filter: invert(90%);
width: 200px;
height: 200px;
object-fit: contain;
margin-top: 150px;
margin-left: auto;
margin-right: auto;
opacity: 0.5;
animation: genkidama 5s;
} */


body {
    background-image: url(./images/tournois.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h4 {
    position: absolute;
    right: 10%;
    font-size: x-large;
}
li {
    list-style: none;
}
h1 {
    width: 100%;
    text-align: center;
}
header h4 {
    align-self: center;
}
img {
    height: 10em;
    align-self: center;
}
.avatar{
    position: absolute;
    z-index: -2;
    animation: bounce 0.35s ease infinite alternate;
}
section:nth-child(2) .avatar {
    right: 4.5%;
}
section:nth-child(3) .avatar {
    left: 5.5%;
}
#aura {
    top: -2em;
    width: 14em;
    height: 17em;
    position: absolute;
    z-index: -3;
    animation: bounce 0.35s ease infinite alternate;
}
section:nth-child(3) .avatar+ul+img+img{
    left: 3%;
}
section:nth-child(2) .avatar+ul+img+img{
    right: 8%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}
section {
    display: flex;
    width: 95vw;
    margin: 1em;
}
h4 {
    align-self: flex-start;
}
.player {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
section:nth-child(3),
section:nth-child(2) {
    flex-direction: column;
    backdrop-filter: blur(15px);
    border: 1px solid black;
    border-radius: 15px;
    padding: 2em;
    justify-content: space-between;
    height: 25vh;
}
#healthbar,
#health{
    height: 2em;
    align-self: center;
    border-radius: 5px;
}
#healthbar {
    background-color: #303030;
    width: 100%;
}
#health {
    background-color: green;
    transition: width 0.5s ease-in-out ;
}
section:nth-child(4){
    width: 50vw;
    flex-wrap: wrap;
    align-self: center;
}
section:nth-child(4) input {
    width: 46%;
    height: 5vh;
    margin: 2%;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    border: 1px solid white;
    text-shadow: #fff 0 0 2px,
                #fff 0 0 5px;
    font-size: xx-large;
}
input[disabled]{
    background-image: none;
    background-color: #aaa;
}
input{
    font-weight: bold;
}
#infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
    background-color: aliceblue;
    top: 30%;
    padding: 2% 0;
}
#infos input{
    margin: 1em 0 -1em 0;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
}
section input:nth-child(1){
    background-image: url(./images/kameha.jpg);
}
section input:nth-child(2){
    background-image: url(./images/genkidama.jpg);
}
section input:nth-child(3){
    background-image: url(./images/senju.webp);
}
section input:nth-child(4){
    background-image: url(./images/gohan.jpg);
}
.player img:nth-child(3){
    height: 8em;
    position: absolute;
}
.player ul {
    font-size: large;
    font-weight: bold;
}
#victory {
    mix-blend-mode: multiply;
    width: 20%;
    height: auto;
}
section:last-of-type{
    align-self: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 1em;
    backdrop-filter: blur(20px);    
    border-radius: 10px;
}
section:nth-child(2) ul{
    align-self: flex-end;
}
audio {
    position: absolute;
    left: 10%;
}